.pokeInfoModal p {
    font-size: 1rem;
    font-weight: normal;
}

.pokeInfoModal img {
    max-width: 100%;
}
.pokeInfoModal h4 {
    color: #C4C4C4; 
}
.abilities span {
    font-weight: normal !important;
    font-size: 16px !important;
    margin: 2px;
}
.types span {
    font-weight: normal !important;
    font-size: 16px !important;
    margin: 2px;
}
.abilities h5{
    margin-top: 16px;
}
.stat p{
    margin: 5px;
}
.col1 {
    padding-bottom: 10px;
}
.effort{
    font-size: .5rem ;
    color: #C4C4C4; 
}

.normal {
    background-color: gray !important;
}
.fire {
    background-color: orange !important;
}
.grass {
   background-color: forestgreen !important; 
}
.poison {
    background-color: darkmagenta !important;
}
.water {
    background-color: mediumblue !important;
}
.electric {
    background-color: gold !important;
}
.ice {
    background-color: paleturquoise !important;
}
.fighting {
    background-color: darkred !important;
}
.bug {
    background-color: greenyellow !important;
}
.fairy {
    background-color: magenta !important;
}
.psychic {
    background-color: black !important;
}
.ground {
    background-color: brown !important;
}
.ghost {
    background-color: rgb(117, 60, 145) !important;
}
.dragon {
    background-color: rgb(188, 112, 225) !important;
}
.steel {
    background-color: #a8bac2 !important;
}
.flying {
    background-color: rgb(53, 158, 162) !important;
}